
/* Your CSS Code here. */
#holder {
	display: flex;
	background-color: purple;
	padding: 5px;
	flex-wrap: wrap;
}

.box {
	display: inline-flex;
	padding: 50px;
	background-color: orange;
	margin: 4px;
}